<div class="navbar">
  <span class="nav-item"><%= link_to 'All Invoices', bills_path %></span>
</div>
<div class="width-control">
  <div class="header row">
    <div class="header-left col-md-9">
      <span class="bill-id">#<%= @bill.id %></span><br>
      <h1>Invoice</h1>
      <span class="label-blue">Project</span><%= @bill.description %> <%= link_to 'Edit', edit_bill_path(@bill) %>
    </div>
    <div class="header-right col-md-3">
      <div class="date">
        <span class="month"><%= @bill.due.strftime("%B") %></span><br>
        <span class="day"><%= @bill.due.day %></span><br>
        <span class="year"><%= @bill.due.year %></span>
      </div>
    </div>
  </div>

  <div class="personal-details row">
    <div class="address col-md-4">
      <% if (@customers.length < 1) %>
        <strong>Client:</strong>
        <%= link_to 'Add Client', new_bill_customer_path(@bill) %>
      <% end %>
    <span class="address-head">Bill to</span><br>
      <% @customers.each do |customer| %>
          <%= customer.name %><br>
          <%= customer.address1 %><br>
          <%= customer.address2 %><br>
          <%= customer.city %><br>
          <%= customer.state %><br>
          <%= customer.zip %><br>
          <%= customer.phone %><br>
          <span class="edit-address">
            <td><%= link_to 'Edit', edit_bill_customer_path(customer.bill, customer) %></td>
            <td><%= link_to 'Remove', [customer.bill, customer], :confirm => 'Are you sure?', :method => :delete %></td>
          </span>
      <% end %>
    </div>
    <div class="address col-md-4">
    <span class="address-head">Pay to</span><br>
      <%= @profile.name %><br>
      <%= @profile.address1 %><br>
      <%= @profile.address2 %><br>
      <%= @profile.city %><br>
      <%= @profile.state %><br>
      <%= @profile.zip %><br>
      <%= @profile.phone %><br>
    </div>
  </div>
  <div class="line-items-head row">
      <span class="line-name-head col-md-2">Name</span>
      <span class="line-description-head col-md-7">Description</span>
      <span class="line-price-head col-md-1">Price</span>
      <span class="line-edit-head col-md-2"></span>
  </div>
    <% @items.each do |item| %>
    <div class="line-items row">
      <span class="line-name col-md-2"><%= item.name %></span>
      <span class="line-description col-md-7"><%= item.description %></span>
      <span class="line-price col-md-1">$<%= item.price %>.00</span>
      <span class="line-edit col-md-2"><%= link_to 'Edit', edit_bill_item_path(item.bill, item) %> | <%= link_to 'Remove', [item.bill, item], :confirm => 'Are you sure?', :method => :delete %></span>
      <br>
    </div>
    <% end %>
    <%= link_to 'New Item', new_bill_item_path(@bill) %>
  <tr>
    <td><strong>Total</strong></td>
    <td><strong>$
      <% total = 0 %>
      <% @items.each do |item| %>
      <% total += item.price.to_i %>
      <% end %>
      <%= total.to_s %>.00
    </strong></td>
  </tr>

  <div class="row">
    <div style="border:2px solid blue" class="col-md-4"></div>
    <div style="border:2px solid blue" class="col-md-4"></div>
    <div style="border:2px solid blue" class="col-md-4"></div>
  </div>
</div>
