<p id="notice"><%= notice %></p>
<%= link_to 'All Bills', bills_path %> | <%= link_to 'Edit Bill', edit_bill_path(@bill) %> <br><br>
<strong>Note: </strong><%= @bill.description %> <br>
<strong>Due: </strong><%= @bill.due %><br><br>

  <% if (@customers.length < 1) %>
    <strong>Client:</strong>
    <%= link_to 'Add Client', new_bill_customer_path(@bill) %>
  <% end %>

<% @customers.each do |customer| %>
    <%= customer.name %><br>
    <%= customer.address1 %><br>
    <%= customer.address2 %><br>
    <%= customer.city %><br>
    <%= customer.zip %><br>
    <%= customer.phone %><br>
    <td><%= link_to 'Edit', edit_bill_customer_path(customer.bill, customer) %></td>
    <td><%= link_to 'Remove', [customer.bill, customer], :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>

<h3>Charges</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td>$<%= item.price %>.00</td>
    <td><%= link_to 'Edit', edit_bill_item_path(item.bill, item) %></td>
    <td><%= link_to 'Remove', [item.bill, item], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<tr>
  <td><strong>Total</strong></td>
  <td><strong>$
    <% total = 0 %>
    <% @items.each do |item| %>
    <% total += item.price.to_i %>
    <% end %>
    <%= total.to_s %>.00
  </strong></td>
</tr>
</table>

<br />

<%= link_to 'New Item', new_bill_item_path(@bill) %>
