<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
<%= link_to 'Add Client', new_bill_customer_path(@bill) %>
<% @customers.each do |customer| %>

    <p><%= customer.name %><br>
    <%= customer.address1 %><br>
    <%= customer.address2 %><br>
    <%= customer.city %><br>
    <%= customer.zip %><br>
    <%= customer.phone %><br>
    <td><%= link_to 'Show', [customer.bill, customer] %></td>
    <td><%= link_to 'Edit', edit_bill_customer_path(customer.bill, customer) %></td>
    <td><%= link_to 'Destroy', [customer.bill, customer], :confirm => 'Are you sure?', :method => :delete %></td>

<% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bill.description %>
</p>

<p>
  <strong>Due:</strong>
  <%= @bill.due %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>

<h1>Work Completed</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td><%= link_to 'Show', [item.bill, item] %></td>
    <td><%= link_to 'Edit', edit_bill_item_path(item.bill, item) %></td>
    <td><%= link_to 'Destroy', [item.bill, item], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<tr>
  <td><strong>Total</strong></td>
  <td><strong>$
    <% total = 0 %>
    <% @items.each do |item| %>
    <% total += item.price.to_i %>
    <% end %>
    <%= total.to_s %>
  </strong></td>
</tr>
</table>

<br />

<%= link_to 'New Item', new_bill_item_path(@bill) %>
